h1 {
    margin-bottom: 1rem;
    margin-top: 0.25rem;
}

li {
    font-size: 1em;
    list-style: none;
}

li span {
    font-weight: 600;
    font-size: 1.3em;
}

.form-row {
    margin-bottom: 1rem;
}

#app {
    margin-top: 1rem;
}